<launch>
  <arg name="machine" default="localhost" />
  <arg name="user" default="" />

  <!-- NOW when launching in a remote mode it will need the ROS_ENV_LOADER set if not it will leave it empty -->
  <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true" />


  <include file="$(find bellbot_action_server)/launch/bellbot_action_server.launch" />
  <node pkg="aaf_walking_group" type="walking_gui_server.py" name="bellbot_guiding_interface" output="screen" respawn="true"/>
  <node pkg="bellbot_gui" type="bellbot_feedback_recorder" name="bellbot_feedback_recorder" output="screen" />
  <node name="bellbot_gui" pkg="bellbot_gui" type="gui2.py">
    <!-- <rosparam>~deployment: "aaf_bellbot"</rosparam> -->
    <param name="deployment" type="string" value="aaf_bellbot"/>
    <rosparam command="load" file="$(find aaf_bellbot)/conf/destinations_types.yaml" />
  </node>

</launch>
