<launch>
    <arg name="white_list_file" default="$(find aaf_logging)/config/white_list_aaf.yaml" />
    <arg name="current_node_topic" default="/current_node"/>
    <arg name="closest_node_topic" default="/closest_node"/>
    <arg name="use_closest_node" default="true"/>
    <arg name="edge_topic" default="/current_edge"/>
    <arg name="check_topic_rate" default="1"/>
    <arg name="publishing_rate" default="30"/>
    <arg name="bool_publisher_topic" default="/logging_manager/log"/>
    <arg name="bool_stamped_publisher_topic" default="/logging_manager/log_stamped"/>
    <arg name="mongodb_host" default="localhost"/>
    <arg name="mongodb_port" default="62345"/>

    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="false"/>
    
    <node pkg="aaf_logging" type="start_stop_logging.py" name="logging_server" output="screen" respawn="true"/>

    <node pkg="aaf_logging" type="store_logs_task.py" name="store_logs" output="screen" respawn="true">
	<param name="database" value="message_store" />
	<param name="collections" value="[navstats, scheduling_problems, task_events, monitored_nav_events]" />
	<param name="past_hours" value="24" />
    </node>

    <include file="$(find topological_logging_manager)/launch/manager.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="white_list_file" value="$(arg white_list_file)"/>
        <arg name="current_node_topic" value="$(arg current_node_topic)"/>
        <arg name="closest_node_topic" value="$(arg closest_node_topic)"/>
        <arg name="use_closest_node" value="$(arg use_closest_node)"/>
        <arg name="edge_topic" value="$(arg edge_topic)"/>
        <arg name="check_topic_rate" value="$(arg check_topic_rate)" />
        <arg name="publishing_rate" value="$(arg publishing_rate)"/>
        <arg name="bool_publisher_topic" value="$(arg bool_publisher_topic)"/>
        <arg name="bool_stamped_publisher_topic" value="$(arg bool_stamped_publisher_topic)"/>
    </include>

    <node pkg="aaf_logging" type="filter_rosout.py" name="filter_rosout" output="screen" respawn="true"/>
    <node pkg="topic_tools" type="throttle" name="throttle_global_plan" output="screen" respawn="true" args="messages /move_base/DWAPlannerROS/global_plan 0.5 /move_base/DWAPlannerROS/global_plan_throttled"/>
    <node pkg="topic_tools" type="throttle" name="throttle_local_plan" output="screen" respawn="true" args="messages /move_base/DWAPlannerROS/local_plan 0.5 /move_base/DWAPlannerROS/local_plan_throttled"/>
    <node pkg="mongodb_log" type="mongodb_log_tf" name="tf_logger" output="screen" respawn="true" args="-t /tf -m $(arg mongodb_host):$(arg mongodb_port) -n tf_logger -c roslog.tf -k 0.1 -l 0.1 -g 0.5 -a"/>

    <!--
    <include file="$(find aaf_logging)/launch/topics.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
    </include>
    -->

    <include file="$(find vision_people_logging)/launch/logging_ubd.launch">
        <arg name="manager_topic" value="$(arg bool_stamped_publisher_topic)"/>
    </include>

</launch>
