<launch>

<node pkg="mongodb_log" type="mongodb_log.py" name="scan_logger" output="screen" respawn="true" args="/scan"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="odom_logger" output="screen" respawn="true" args="/odom"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="amcl_pose_logger" output="screen" respawn="true" args="/amcl_pose"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="robot_pose_logger" output="screen" respawn="true" args="/robot_pose"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="current_node_logger" output="screen" respawn="true" args="/current_node"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="current_edge_logger" output="screen" respawn="true" args="/current_edge"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="topological_map_logger" output="screen" respawn="true" args="/topological_map"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="rosout_filtered_logger" output="screen" respawn="true" args="/rosout_filtered"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="diagnostics_agg_logger" output="screen" respawn="true" args="/diagnostics_agg"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="topological_navigation_route_logger" output="screen" respawn="true" args="/topological_navigation/Route"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="topological_navigation_statistics_logger" output="screen" respawn="true" args="/topological_navigation/Statistics"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="closest_node_logger" output="screen" respawn="true" args="/closest_node"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="do_backtrack_goal_logger" output="screen" respawn="true" args="/do_backtrack/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="speak_goal_logger" output="screen" respawn="true" args="/speak/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="strands_emails_goal_logger" output="screen" respawn="true" args="/strands_emails/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="strands_image_tweets_goal_logger" output="screen" respawn="true" args="/strands_image_tweets/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="charging_server_goal_logger" output="screen" respawn="true" args="/chargingServer/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="charging_server_result_logger" output="screen" respawn="true" args="/chargingServer/result"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="charging_server_cancel_logger" output="screen" respawn="true" args="/chargingServer/cancel"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="docking_goal_logger" output="screen" respawn="true" args="/docking/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="docking_result_logger" output="screen" respawn="true" args="/docking/result"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="docking_cancel_logger" output="screen" respawn="true" args="/docking/cancel"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="undocking_goal_logger" output="screen" respawn="true" args="/undocking/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="undocking_result_logger" output="screen" respawn="true" args="/undocking/result"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="undocking_cancel_logger" output="screen" respawn="true" args="/undocking/cancel"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="map_updates_logger" output="screen" respawn="true" args="/map_updates"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="move_base_current_goal_logger" output="screen" respawn="true" args="/move_base/current_goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="charging_task_goal_logger" output="screen" respawn="true" args="/charging_task/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="charging_task_result_logger" output="screen" respawn="true" args="/charging_task/result"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="charging_task_cancel_logger" output="screen" respawn="true" args="/charging_task/cancel"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="maintenance_task_goal_logger" output="screen" respawn="true" args="/maintenance_task/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="maintenance_task_result_logger" output="screen" respawn="true" args="/maintenance_task/result"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="maintenance_task_cancel_logger" output="screen" respawn="true" args="/maintenance_task/cancel"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="task_executor_events_logger" output="screen" respawn="true" args="/task_executor/events"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="emergency_stop_status_logger" output="screen" respawn="true" args="/emergency_stop_status"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="info_terminal_active_screen_logger" output="screen" respawn="true" args="/info_terminal/active_screen"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="info_terminal_task_outcome_logger" output="screen" respawn="true" args="/info_terminal/task_outcome"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="info_task_server_goal_logger" output="screen" respawn="true" args="/info_task_server/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="info_task_server_result_logger" output="screen" respawn="true" args="/info_task_server/result"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="info_task_server_cancel_logger" output="screen" respawn="true" args="/info_task_server/cancel"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="bellbot_goal_logger" output="screen" respawn="true" args="/bellbot/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="bellbot_result_logger" output="screen" respawn="true" args="/bellbot/result"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="bellbot_cancel_logger" output="screen" respawn="true" args="/bellbot/cancel"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="walking_group_fast_goal_logger" output="screen" respawn="true" args="/walking_group_fast/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="walking_group_fast_result_logger" output="screen" respawn="true" args="/walking_group_fast/result"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="walking_group_fast_cancel_logger" output="screen" respawn="true" args="/walking_group_fast/cancel"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="walking_group_slow_goal_logger" output="screen" respawn="true" args="/walking_group_slow/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="walking_group_slow_result_logger" output="screen" respawn="true" args="/walking_group_slow/result"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="walking_group_slow_cancel_logger" output="screen" respawn="true" args="/walking_group_slow/cancel"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="store_logs_cancel_logger" output="screen" respawn="true" args="/store_logs/cancel"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="store_logs_goal_logger" output="screen" respawn="true" args="/store_logs/goal"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="store_logs_result_logger" output="screen" respawn="true" args="/store_logs/result"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="strands_webserver_display_1_page_logger" output="screen" respawn="true" args="/strands_webserver/display_1/page"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="strands_webserver_display_2_page_logger" output="screen" respawn="true" args="/strands_webserver/display_2/page"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="strands_webserver_display_3_page_logger" output="screen" respawn="true" args="/strands_webserver/display_3/page"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="strands_webserver_display_4_page_logger" output="screen" respawn="true" args="/strands_webserver/display_4/page"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="strands_webserver_display_5_page_logger" output="screen" respawn="true" args="/strands_webserver/display_5/page"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="strands_webserver_display_6_page_logger" output="screen" respawn="true" args="/strands_webserver/display_6/page"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="strands_webserver_display_7_page_logger" output="screen" respawn="true" args="/strands_webserver/display_7/page"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="strands_webserver_display_8_page_logger" output="screen" respawn="true" args="/strands_webserver/display_8/page"/>
<node pkg="mongodb_log" type="mongodb_log.py" name="strands_webserver_display_9_page_logger" output="screen" respawn="true" args="/strands_webserver/display_9/page"/>

</launch>
