<launch>
    <arg name="music_set" default="aaf_walking_group"/>
    <!-- This will be inside .ros unless provided with full path -->
    <arg name="audio_folder" default="aaf_waypoint_sounds"/>
    <arg name="waypoint_sounds_file"/>

    <node pkg="aaf_waypoint_sounds" type="aaf_waypoint_player.py" name="aaf_waypoint_player" output="screen">
        <!-- The set in mongodb_media_server to use for the waypoint sounds -->
        <param name="music_set" type="string" value="$(arg music_set)"/>
        <!-- The folder to store the media files while being player -->
        <param name="audio_folder" type="string" value="$(arg audio_folder)"/>
        <!-- Json dictionary mapping waypoints to mp3 files, see above for example -->
        <rosparam command="load" file="$(arg waypoint_sounds_file)"/>
    </node>

</launch>
