<launch>
    <arg name="music_set" default="aaf_walking_group"/>
    <arg name="audio_folder" default="$(find aaf_waypoint_sounds)/media"/>
    <arg name="waypoint_sounds" default='{"WayPoint1": "fringilla-coelebs.mp3", "WayPoint2": "larus-ridibundus.mp3", "WayPoint3": "melanitta-fusca.mp3", "WayPoint4": "turdus-merula.mp3"}'/>

    <node pkg="aaf_waypoint_sounds" type="aaf_waypoint_player.py" name="aaf_waypoint_player" output="screen">
        <param name="music_set" type="string" value="$(arg music_set)"/>
        <param name="audio_folder" type="string" value="$(arg audio_folder)"/>
        <param name="waypoint_sounds" type="string" value="$(arg waypoint_sounds)"/>
    </node>

</launch>
