body {}
h2 {font-size:200%}
p {font-size:200%}
.button-style {
	background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   cursor:pointer;
   overflow: hidden;
   outline:none;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:21px;
	font-weight:bold;
	font-style:normal;
	height:60px;
	line-height:40px;
	width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 1px #1570cd;
   padding-left: 15px;
   background-size: 100%;
}
.button-style:active {
	border:1px solid Transparent;
}
.start-button {
  background: url('img/button_start.png') left center / 100% no-repeat;
}
.stopp-button {
  background: url('img/button_stopp.png') left center / 100% no-repeat;
}
.back-button {
  background: url('img/button_zurueck.png') left center / 100% no-repeat;
}
.next-button {
  background: url('img/button_vor.png') left center / 100% no-repeat;
}
.musik-button {
  background: url('img/button_musik.png') left center / 100% no-repeat;
}
.film-button {
  background: url('img/button_film.png') left center / 100% no-repeat;
}
.bilder-button {
  background: url('img/button_bilder.png') left center / 100% no-repeat;
}
.liste-button {
  background: url('img/button_liste_notext.png') left center / 100% no-repeat;
}
.liste-txt-button {
  background: url('img/button_liste.png') left center / 100% no-repeat;
}
.map-button {
  background: url('img/button_map.png') left center / 100% no-repeat;
}
.abbruch-button {
  background: url('img/button_abbruch.png') left center / 100% no-repeat;
}
.weiter-button {
  background: url('img/button_weiter.png') left center / 100% no-repeat;
}
.weiter-up-button {
  background: url('img/button_weiter_up.png') left center / 100% no-repeat;
}
.rast-button {
  background: url('img/button_rast.png') left center / 100% no-repeat;
}
.rast-button-left {
  background: url('img/button_rast_left.png') left center / 100% no-repeat;
}
.rast-button-right {
  background: url('img/button_rast_right.png') left center / 100% no-repeat;
}
.rast-button-select {
  background: url('img/button_rast_select.png') left center / 100% no-repeat;
}
.ende-button {
  background: url('img/button_ende.png') left center / 100% no-repeat;
}
.sitting-button {
  background: url('img/sitting_person.png') left center / 100% no-repeat;
}
.music-on-button {
  background: url('img/button_musik_on.png') left center / 100% no-repeat;
}
.music-off-button {
  background: url('img/button_musik_off.png') left center / 100% no-repeat;
}
.music-quieter {
  background: url('img/button_leiser.png') left center / 100% no-repeat;
}
.music-louder {
  background: url('img/button_lauter.png') left center / 100% no-repeat;
}
.speechout{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px none #000000;
  font-family:verdana;
  font-size:110%;
  text-align: center;
  overflow: hidden; 
  resize: none; 
  position: absolute; 
  left: 212px; 
  top: 8px; 
  width: 208px; 
  height: 90px; 
  font-weight: bold;
}
img {
    max-width: 100%;
    max-height: 100%;
}