
.vcenter {
    vertical-align: middle;
}

p,h1,h2,h3 {
	line-height:1.5;
}

::cue {
	font-size: 24px;
	color: white;
	line-height: 150%;
	background-color: #99444444;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFF;
}
