<launch>
  <arg name="waypoint_set" default="aaf_waypoints"/>
  <arg name="meta_name" default="waypoint_set"/>
  <arg name="collection_name" default="aaf_walking_group"/>
  <arg name="music_folder" default="$(find aaf_music_player)/media"/>
  <arg name="waypoint_sounds_folder" default="$(find aaf_waypoint_sounds)/media"/>
  <arg name="waypoint_sounds" default='{"Lift1": "fringilla-coelebs.mp3", "WayPoint7": "larus-ridibundus.mp3", "Cafeteria": "melanitta-fusca.mp3", "WayPoint8": "turdus-merula.mp3"}'/>

  <node pkg="aaf_walking_group" type="wait_for_participant.py" name="wait_for_participant" output="screen"/>
  <node pkg="aaf_walking_group" type="guiding_action.py" name="guiding_server" output="screen"/>
  <node pkg="social_card_reader" type="social_card_reader" name="social_card_reader" output="screen"/>
  <node pkg="aaf_walking_group" type="interface_server.py" name="interface_server" output="screen"/>
  <node pkg="aaf_walking_group" type="walking_gui_server.py" name="walking_interface_server" output="screen"/>
  <node pkg="aaf_walking_group" type="positionOfCard.py" name="QSR_generator" output="screen"/>
  <node pkg="aaf_walking_group" type="aaf_walking_group_state_machine.py" name="walking_group_smach" output="screen">
    <param name ="mongodb_params/waypointset_name" type="string" value="$(arg waypoint_set)"/>
    <param name ="mongodb_params/waypointset_collection" type="string" value="$(arg collection_name)"/>
    <param name ="mongodb_params/waypointset_meta" type="string" value="$(arg meta_name)"/>
  </node>

  <include file="$(find aaf_waypoint_sounds)/launch/waypoint_sounds.launch">
    <arg name="audio_folder" value="$(arg waypoint_sounds_folder)"/>
    <arg name="waypoint_sounds" value="$(arg waypoint_sounds)"/>
  </include>
  <node pkg="aaf_music_player" type="aaf_music_player_server.py" name="aaf_music_player_server">
    <param name="folder" type="string" value="$(arg music_folder)"/>
  </node>
  <node pkg="walking_group_recovery" type="toggle_walking_group_recovery_server.py" name="toggle_walking_group_recovery_server"/>

</launch>
